.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    left: 0
    width: 120px
    @media screen and (min-width: $bp-max-xl)
      width: 190px
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 15%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    bottom: 10%
    left: 10%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
///////////CUSTOM BANNER PRINCIPAL E INTERNO/////////////
.banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal

.banner-principal__row .banner-principal__img
  width: 400px !important
  @media screen and (min-width: $bp-max-xl)
    width: 500px !important
    padding-bottom: 0 !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important
.banner-interno__fondo
  background-image: url("../assets/curso/banner_interno.png") !important
.banner-principal .tarjeta
  background-image: url("../assets/curso/portada/fondo-banner-principal-xs.png") !important
  @media screen and (min-width: $bp-min-sm)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
  @media screen and (min-width: $bp-min-lg)
    background-image: url("../assets/curso/portada/fondo-banner-principal.png") !important

figcaption, caption
  font-weight: normal !important

.banner-text
  background: #DEDEDE
  background: linear-gradient(180deg, rgba(222, 222, 222, 0.98) 0%, rgba(255, 255, 255, 0.9) 32%, rgba(255, 255, 255, 0.9) 66%, rgba(222, 222, 222, 0.98) 100%)
  border-radius: 10px
  padding: 20px 30px
  margin-top: -40px

  @media (min-width: 992px)
    margin-top: -100px

.z-2
  position: relative
  z-index: 2

  //bgs
.bg-primario-p5
  background-color: $color-primario-p5

.fullwidth-bg
  display: none
  @media screen and (min-width: 768px)
    display: block
  position: relative
  z-index: 0

  &--1::after
    top: 0
    left: -50px
    position: absolute
    content: url('../assets/curso/common/bg-1.png')